services:
  unifi2netbox:
    build:
      context: .
    image: unifi2netbox:latest
    container_name: unifi2netbox
    env_file:
      - .env
    volumes:
      - ./logs:/app/logs
    command: ["python", "main.py", "-v"]
    restart: unless-stopped
